
body {
  margin: 0;
}

main {
  margin: 30px;
}

.filler {
  flex: 1 1 auto;
  width: 100%;
}

.user-avatar {
  max-height: 35px;
  border-radius: 4px;
}

.toolbar-tools {
  display: flex;
  width: 100%;
}

.footer {
  width: 100%;
  text-align: center;
  color: white;
  z-index: 1;
}
.footer-spacer {
  flex: 1 1 auto;
}

#btmFooter {
  align-self: flex-end;
}

.main-content {
  min-height: calc(100vh - 148px);
}


