.athletes-panel {
  max-width: 600px;
  margin: 20px auto 0 auto;
}

.athlete-list {
  width:100%;
}

.spinner-container {
  height: 360px;
  width: 600px;
  position: fixed;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}
