<div class="athletes-panel">
  <div class="header">
    <h2 class="title">Athletes</h2>
    <ng-container *ngIf="(user.roles$ | async) as roles">
      <ng-container *ngIf="roles.admin">
        <button mat-mini-fab color="accent" routerLink="/create-athlete">
          <mat-icon class="add-athlete-btn">add</mat-icon>
        </button>
      </ng-container>
    </ng-container>
  </div>
  <mat-tab-group>
    <mat-tab label="Boys">
      <ng-container *ngIf="user.isLoggedIn$ | async">
        <mat-button-toggle-group name="filter" aria-label="filter" class="filters">
          <mat-button-toggle (click)="loadMaleAthletesByClass(null)">All</mat-button-toggle>
          <mat-button-toggle (click)="loadMaleAthletesByClass('2028')">Freshmen</mat-button-toggle>
          <mat-button-toggle (click)="loadMaleAthletesByClass('2027')">Sophomore</mat-button-toggle>
          <mat-button-toggle (click)="loadMaleAthletesByClass('2026')">Junior</mat-button-toggle>
          <mat-button-toggle (click)="loadMaleAthletesByClass('2025')">Senior</mat-button-toggle>
        </mat-button-toggle-group>
        <div class="spinner-container" *ngIf="loading">
          <mat-spinner></mat-spinner>
        </div>
        <app-athlete-card-list [athletes]="maleAthletesByClass$ | async"
                               (athleteEdited)="reloadAthletes()"
                               (athleteDeleted)="reloadAthletes()">

        </app-athlete-card-list>
      </ng-container>
      <ng-container *ngIf="user.isLoggedOut$ | async">
        <h3>Please login to view athletes</h3>
      </ng-container>
    </mat-tab>
    <mat-tab label="Girls">
      <ng-container *ngIf="user.isLoggedIn$ | async">
        <mat-button-toggle-group name="filter" aria-label="filter" class="filters">
          <mat-button-toggle (click)="loadFemaleAthletesByClass(null)">All</mat-button-toggle>
          <mat-button-toggle (click)="loadFemaleAthletesByClass('2028')">Freshmen</mat-button-toggle>
          <mat-button-toggle (click)="loadFemaleAthletesByClass('2027')">Sophomore</mat-button-toggle>
          <mat-button-toggle (click)="loadFemaleAthletesByClass('2026')">Junior</mat-button-toggle>
          <mat-button-toggle (click)="loadFemaleAthletesByClass('2025')">Senior</mat-button-toggle>
        </mat-button-toggle-group>
        <app-athlete-card-list [athletes]="femaleAthletesByClass$ | async"
                               (athleteEdited)="reloadAthletes()"
                               (athleteDeleted)="reloadAthletes()">

        </app-athlete-card-list>
      </ng-container>
      <ng-container *ngIf="user.isLoggedOut$ | async">
        <h3>Please login to view athletes</h3>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
