<div class="athletes-panel">
  <div class="header">
    <h2 class="title">Athletes</h2>
    <ng-container *ngIf="(user.roles$ | async) as roles">
      <ng-container *ngIf="roles.admin">
        <button mat-mini-fab color="accent" routerLink="/create-athlete">
          <mat-icon class="add-athlete-btn">add</mat-icon>
        </button>
      </ng-container>
    </ng-container>
  </div>
  <mat-tab-group>
    <ng-container *ngIf="user.isLoggedIn$ | async">
      <mat-tab label="loading" *ngIf="loading">
        <div class="spinner-container" *ngIf="loading">
          <mat-spinner></mat-spinner>
        </div>
      </mat-tab>
    </ng-container>
    <mat-tab label="Boys">
      <ng-container *ngIf="user.isLoggedIn$ | async">
        <app-athlete-card-list [athletes]="maleAthletes$ | async"
                               (athleteEdited)="reloadAthletes()"
                               (athleteDeleted)="reloadAthletes()">

        </app-athlete-card-list>
      </ng-container>
      <ng-container *ngIf="user.isLoggedOut$ | async">
        <h3>Please login to view athletes</h3>
      </ng-container>
    </mat-tab>
    <mat-tab label="Girls">
      <ng-container *ngIf="user.isLoggedIn$ | async">
        <app-athlete-card-list [athletes]="femaleAthletes$ | async"
                               (athleteEdited)="reloadAthletes()"
                               (athleteDeleted)="reloadAthletes()">

        </app-athlete-card-list>
      </ng-container>
      <ng-container *ngIf="user.isLoggedOut$ | async">
        <h3>Please login to view athletes</h3>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
