<div class="meets-panel">
  <div class="header">
    <h2 class="title">Active Meets</h2>
    <ng-container *ngIf="(user.roles$ | async) as roles">
      <ng-container *ngIf="roles.admin">
        <button mat-mini-fab color="accent">
          <mat-icon class="add-meet-btn" routerLink="/create-meet">add</mat-icon>
        </button>
      </ng-container>
    </ng-container>
  </div>

  <app-meets-card-list [meets]="activeMeets$ | async"
                       (meetEdited)="reloadMeets()"
                       (meetDeleted)="reloadMeets()"></app-meets-card-list>

  <div class="header">
    <h2 class="title">Inactive Meets</h2>
  </div>

  <app-meets-card-list [meets]="archivedMeets$ | async"
                       (meetEdited)="reloadMeets()"
                      (meetDeleted)="reloadMeets()"></app-meets-card-list>
</div>
